*{
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    margin: 0;
    padding: 20px;

}

main{
    max-width: 1000px;
    margin: auto;
}

/* FEJLÉC */
header{
    background-color: #f1f1f1;
    text-align: center;
    padding: 30px;
    border-radius: 35px;
    border: 3px dashed black;
    margin-bottom: 20px;
}

h1{
    font-size: 60px;
    margin: 0;
}

/* NAV */
nav{
    background-color: #b9d8e6;
    border-radius: 50px;
    padding: 25px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: black;
    background-color: pink;

    padding: 15px;
    border-radius: 25px;

    text-align: center;
    font-weight: bold;

    border: 2px solid violet;

    transition: 0.3s;
}

a:hover{
    transform: scale(1.05);
    background-color: rgb(255, 161, 177);
}

/* KÁRTYÁK */
.novenyek{
    background-color: #b9d8e6;

    border-radius: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 30px;
    padding: 30px;
}

.novenyek div{
    border-radius: 40px;
    padding: 25px;

    border: none;

    background-color: white;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

/* KÜLÖN SZÍNEK */
.novenyek div:nth-child(2){
    background-color: #ffee58;
}

.novenyek div:nth-child(3){
    background-color: #f3b6f5;
}

.novenyek div:nth-child(4){
    background-color: #74ffb5;
}

/* KÉPEK */
img{
    width: 100%;
    max-width: 300px;

    border-radius: 30px;

    margin-top: 15px;
}

/* SZÖVEG */
h2{
    font-size: 40px;
}

p{
    font-size: 18px;
    text-align: justify;
}

/* MOBILNÉZET */
@media screen and (max-width:600px){

    .novenyek{
        grid-template-columns: 1fr;
    }

    nav{
        grid-template-columns: 1fr;
    }

    h1{
        font-size: 40px;
    }
}